.groupInbox-container {
  .chat_background {
    border-radius: 6px;
    border: 3px solid #f3f4f6;
    width: 100%;
    padding: 7px 25px;
    .sms {
      min-width: fit-content;
    }
    .tags_container {
      word-wrap: break-word;
      width: auto;
      margin: 0px;
    }
    .tags_container > p {
      margin-bottom: 3px;
    }
  }
  .chat_background_active {
    border-radius: 6px;
    border: 3px solid #367fee;
    background-color: #367fee;
    color: $white;
    width: 100%;
    padding: 9px 25px;
    .sms {
      min-width: fit-content;
    }
    .tags_container {
      word-wrap: break-word;
      width: auto;
      margin: 0px;
    }
    .tags_container > p {
      margin-bottom: 3px;
    }
  }
}
.groupInboxRow {
  height: calc(100vh - 52px);
  overflow-y: auto;
  display: grid;
  grid-template-columns: 30% 70%;
}
