.groupInbox-container {
  .chat_background {
    border-radius: 6px;
    border: 3px solid #f3f4f6;
    width: 100%;
    padding: 7px 25px;
    .sms {
      min-width: fit-content;
    }
    .tags_container {
      word-wrap: break-word;
      width: auto;
      margin: 0px;
    }
    .tags_container > p {
      margin-bottom: 3px;
    }
  }
  .chat_background_active {
    border-radius: 6px;
    border: 3px solid #367fee;
    background-color: #367fee;
    color: $white;
    width: 100%;
    padding: 9px 25px;
    .sms {
      min-width: fit-content;
    }
    .tags_container {
      word-wrap: break-word;
      width: auto;
      margin: 0px;
    }
    .tags_container > p {
      margin-bottom: 3px;
    }
  }
  .chat_user_conversation {
    position: relative;
    @media screen and (max-width: 991px) {
      position: absolute;
      z-index: 1;
      background-color: $sidebar-bg;
      top: 45px;
      left: -100%;
      width: 100%;
    }
  }
  .chat_user_conversation_active {
    @media screen and (max-width: 991px) {
      position: absolute;
      left: 0px;
      z-index: 2;
      background-color: $sidebar-bg;
    }
  }
}
.groupInboxRow {
  height: calc(100vh - 45px);
  display: grid;
  grid-template-columns: 33% 67%;
  @media screen and (max-width: 991px) {
    grid-template-columns: 100%;
  }
}
.inbox_tag {
  padding: 0 2px;
}
