//
// Sidemenu
//

.menus {
  height: calc(100vh - 98px);
  @media screen and (max-width: 991px) {
    height: calc(100vh - 91.5px);
  }

  ul {
    list-style: none;
  }
  li {
    list-style: none;
  }
  .isHeader {
    margin-top: 15px;
    &:first-child {
      margin-top: 0;
    }
  }

  overflow-y: auto;
  cursor: pointer;
  .menu_item {
    padding-left: 1.4rem;
    padding-right: 6px;
    @media screen and (max-width: 992px) {
      // some code
    }
  }
  .menu_item:hover {
    background-color: #e2e4e9;
    border-radius: 5px;
  }
  .menus_items {
    .menu_item {
      padding-left: 1.4rem;
      margin-right: 3px;
    }
    .menu_item:hover {
      background-color: #e2e4e9;
      border-radius: 5px;
    }
  }
  .sub_menu_item {
    padding-left: 40px;
    margin-right: 3px;
    // @media screen and (max-width: 768px) {
    //   padding-left: 30px !important;
    // }
  }

  .sub_menu_item:hover {
    background-color: #e2e4e9;
    border-radius: 5px;
  }
  .sub_menu_item_active {
    background-color: #e2e4e9;
    border-radius: 5px;
  }
}
