//
// topbar.scss
//

.topbar {
  background-color: $topbar-bg;
  width: 100%;
  height: $topbar-height;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .topbar_icons i,
  .icons {
    color: $gray-500;
    padding: 5px;
    border-radius: 5px;
    font-size: 30px !important;

    &:hover {
      background-color: $gray-800;
    }
    @media screen and (max-width: 768px) {
      font-size: 26px !important;
    }
  }
  .calendar-icon {
    color: $gray-500;
    padding: 6px;
    border-radius: 5px;
    font-size: 30px !important;

    &:hover {
      background-color: $gray-800;
    }
    @media screen and (max-width: 768px) {
      font-size: 26px !important;
    }
  }
  .topbar_search {
    width: 23rem;
    padding: 2px 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: $gray-400;
    font-size: 0.87rem;
    // change placeholder text color
    &::placeholder {
      color: $gray-500;
      font-size: 12px;
    }
    &:active {
      border: none;
      outline: none;
    }
    @media screen and (max-width: 768px) {
      width: 15rem;
    }
    @media screen and (max-width: 576px) {
      width: 10rem;
    }
  }
  .topbar_search_wrapper {
    border-radius: 8px;
    i {
      color: $gray-500;
      font-size: 18px;
      align-items: center;
      display: flex;
      padding-left: 8px;
      padding-top: 2px;
    }
    .icon {
      color: $gray-500;
      font-size: 23px;
      align-items: center;
      display: flex;
      padding-left: 8px;
      padding-top: 2px;
    }
  }
}

.conversation {
  background-color: $conversation-bg !important;
  color: $white;
}
